body { 
    font-family: Arial; 
    background: #071024; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.container { 
    text-align: center; 
}

input, button { 
    padding: 10px; 
    margin: 5px; 
    border-radius: 5px; 
    border: none; 
}

button { 
    cursor: pointer; 
    background: #1a73e8; 
    color: white; 
}

.videos { 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
    flex-wrap: wrap; 
}

video { 
    width: 300px; 
    height: 200px; 
    background: #000; 
    border-radius: 10px; 
}
